
 
  .main {
    grid-column: 1/3;
    grid-row: 2/3;
    background: #FFFFFF;
  }
  
  
  .caja{
    border-radius:50px;
    margin-top: 10px;
    margin-right: 150px;
    margin-bottom: 150px;
    margin-left: 150px;
    background:#FFFFFF;
    
   
  }